<div class="container text-center">
  <h2>
    Inscription au tournoi de <%= @tournament.city %>
    </br>
    <% if @tournament.date2 == nil %>
      <%= @tournament.date.strftime("%d / %m / %Y ") %>
    <% else %>
      <%= @tournament.date.strftime("%d") %> et <%= @tournament.date2.strftime("%d / %m / %Y ") %>
    <% end %>
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <table class="table table-striped" style="margin-bottom: 40px;">
        <tr>
          <th>1 tab.</th>
          <th>2 tab.</th>
          <th>3 tab.</th>
        </tr>
          <td align="center"><%= @tournament.price1 %>€</td>
          <td align="center">
            <% if @tournament.price2 == nil %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% else %>
              <%= @tournament.price2 %>€
            <% end %>
          </td>
          <td align="center">
            <% if @tournament.price3 == nil %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% else %>
              <%= @tournament.price3 %>€
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@tournament, @registration] do |i| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= i.input :tournament_id, as: :hidden, input_html: {value: @tournament.id} %>
        <%= i.input :player_id, label: "Joueur", collection: @all_players %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= i.input :price, label: "Montant de l'inscription" %>
      </div>
    </div>
    <div class="row"></div>
      <div class="col-xs-12 col-sm-4">
        <%= i.input :tableau1, label: "1er Tableau", collection: TABLEAUX %>
        <%= i.input :serie1, label: "Série" %>
        <div id="com1" style="display:none">
          <%= i.input :com1, label: "Nom de votre partenaire de Double / Mixte" %>
        </div>
      </div>
      <% if @tournament.price2 != nil %>
        <div class="col-xs-12 col-sm-4">
          <%= i.input :tableau2, label: "2ème Tableau", collection: TABLEAUX  %>
          <%= i.input :serie2, label: "Série" %>
          <div id="com2" style="display:none">
            <%= i.input :com2, label: "Nom de votre partenaire de Double / Mixte" %>
          </div>
        </div>
      <% end %>
      <% if @tournament.price3 != nil %>
        <div class="col-xs-12 col-sm-4">
          <%= i.input :tableau3, label: "3ème Tableau", collection: TABLEAUX  %>
          <%= i.input :serie3, label: "Série" %>
          <div id="com3" style="display:none">
            <%= i.input :com3, label: "Nom de votre partenaire de Double / Mixte" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row text-center">
      <%= i.button :submit, "M'inscrire" %>
    </div>
  <% end %>
</div>
