<div class="row">
  <div class="row col-xs-12 col-sm-6">
    <div class="form_new">
      <%= simple_form_for @tournament do |i| %>
        <%= i.input :city, label: "Ville" %>
        <%= i.input :date, as: :date, html5: true, :label => "Jour 1 (jj/mm/aaaa)" %>
        <%= i.input :date2, as: :date, html5: true, :label => "Jour 2 (jj/mm/aaaa)" %>
        <%= i.input :serie %>
        <%= i.input :tableau %>
    </div>
  </div>
  <div class="row col-xs-12 col-sm-6">
    <div class="form_new">
        <%= i.input :price1, as: :integer, label: "Prix pour 1 tableau" %>
        <%= i.input :price2, label: "Prix pour 2 tableaux" %>
        <%= i.input :price3, label: "Prix pour 3 tableaux"  %>
        <%= i.button :submit %>
      <% end %>
    </div>
  </div>
</div>


