<div class="container">
  <div class="text-center">
    <h2>Tous les tournois</h2>
  </div>
  <% @tournaments.each do |tournament| %>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Ville</th>
        <th>Tableau</th>
        <th>Série</th>
        <th>1 tableau</th>
        <th>2 tableaux</th>
        <th>3 tableaux</th>
        <th></th>
      </tr>
      <tr>
        <td><%= tournament.date.strftime("%a %m %B %Y") %></td>
        <td><%= tournament.city %></td>
        <td><%= tournament.tableau %></td>
        <td><%= tournament.serie %></td>
        <td><%= tournament.price1 %></td>
        <td><%= tournament.price2 %></td>
        <td><%= tournament.price3 %></td>
        <td><%= link_to "S'inscrire", new_tournament_registration_path(:tournament_id => tournament.id), class: "btn btn-danger" %></td>
        <td><%= link_to "Inscrits", index_registrations_by_tournament_tournament_path(:id => tournament.id), class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    </table>
</div>

<div class="container">
  <% @registrations.each do |registration| %>
    <%= registration.tournament.city %>
    </br><%= registration.player.last_name %> <%= registration.player.first_name %></br>
  <% end %>
</div>
