<div class="container">
  <div class="text-center">
    <h2>Tous les tournois</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <% @tournaments.each do |tournament| %>
        <table class="table table-striped">
          <tr>
            <th>Date</th>
            <th>Ville</th>
            <th>Tableau</th>
            <th>Série</th>
            <th>1 tableau</th>
            <th>2 tableaux</th>
            <th>3 tableaux</th>
          </tr>
          <tr>
            <td><%= tournament.date.strftime("%a %m %B %Y") %></td>
            <td><%= tournament.city %></td>
            <td><%= tournament.tableau %></td>
            <td><%= tournament.serie %></td>
            <td align="center"><%= tournament.price1 %>€</td>
            <td align="center">
              <% if tournament.price2 == nil %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% else %>
                <%= tournament.price2 %>€
              <% end %>
            </td>
            <td align="center">
              <% if tournament.price3 == nil %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% else %>
                <%= tournament.price3 %>€
              <% end %>
            </td>
          </tr>
        </table>
        <div class="links_under_table">
          <%= link_to new_tournament_registration_path(:tournament_id => tournament.id) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span>(S'inscrire)</span>
          <% end %>
          <%= link_to tournaments_path(:id => tournament.id) do %>
            <i class="fa fa-list" aria-hidden="true"></i>
            <span>(Inscrits)</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <table class="table table-striped" id="registrations_tournament">
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Tableau</th>
          <th>Série</th>
        </tr>
        <% @registrations_by_tournaments.each do |registration| %>
          <tr>
            <td><%= registration.player.last_name %></td>
            <td><%= registration.player.first_name %></td>
            <td>
              <%= registration.tableau1 %></br>
              <%= registration.tableau2 %></br>
              <%= registration.tableau3 %>
            </td>
            <td>
              <%= registration.serie1 %></br>
              <%= registration.serie2 %></br>
              <%= registration.serie3 %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
