<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8">
      <div class="text-center">
        <h2>Tous les tournois</h2>
      </div>

      <div>
        <% @tournaments.each do |hash| %>
          <table class="table table-striped" style="margin-bottom: 40px;">
            <tr>
              <th><%= hash[:name] %></th>
              <th>Ville</th>
              <th>Tableau</th>
              <th>Série</th>
              <th>1 tab.</th>
              <th>2 tab.</th>
              <th>3 tab.</th>
              <th>S'incrire</th>
              <th>Inscrits</th>
            </tr>
            <% if hash[:array].empty? %>
              <tr>
                <td colspan="4">
                  <i class="fa fa-times" aria-hidden="true" style="color: red;"></i> Pas de tournoi référencé pour le moment
                </td>
              </tr>
            <% else %>
              <% hash[:array].each do |tournament| %>
                <tr>
                  <td><%= tournament.date.strftime("%A %e") %></td>
                  <td><%= tournament.city %></td>
                  <td><%= tournament.tableau %></td>
                  <td><%= tournament.serie %></td>
                  <td align="center"><%= tournament.price1 %>€</td>
                  <td align="center">
                    <% if tournament.price2 == nil %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    <% else %>
                      <%= tournament.price2 %>€
                    <% end %>
                  </td>
                  <td align="center">
                    <% if tournament.price3 == nil %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    <% else %>
                      <%= tournament.price3 %>€
                    <% end %>
                  </td>
                  <td align="center">
                    <%= link_to new_tournament_registration_path(:tournament_id => tournament.id) do %>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
                  </td>
                  <td align="center">
                    <%= link_to tournaments_path(:id => tournament.id) do %>
                      <i class="fa fa-list" aria-hidden="true"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4" id="fixed_div">

      <div class="text-center">
        <h2>Les inscrits</h2>
      </div>

      <table class="table table-striped" >
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Tableau</th>
          <th>Série</th>
        </tr>
        <% @registrations_by_tournaments.each do |registration| %>
          <tr>
            <td><%= registration.player.last_name %></td>
            <td><%= registration.player.first_name %></td>
            <td>
              <%= registration.tableau1 %></br>
              <%= registration.tableau2 %></br>
              <%= registration.tableau3 %>
            </td>
            <td>
              <%= registration.serie1 %></br>
              <%= registration.serie2 %></br>
              <%= registration.serie3 %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>


</div>









<div class="container">


</div>
