<div class="container">
  <div class="text-center">
    <h2>Ajouter un tournoi</h2>
  </div>
  <div class="row">
    <div class="row col-xs-12 col-sm-6">
      <div class="form_new">
        <%= simple_form_for @tournament do |i| %>
          <%= i.input :city, label: "Ville" %>
          <%= i.input :date %>
          <%= i.input :serie %>
          <%= i.input :tableau %>
      </div>
    </div>
    <div class="row col-xs-12 col-sm-6">
      <div class="form_new">
          <%= i.input :price1, label: "Prix pour 1 tableau" %>
          <%= i.input :price1, label: "Prix pour 2 tableaux" %>
          <%= i.input :price1, label: "Prix pour 3 tableaux"  %>
          <%= i.button :submit, "Ajouter le tournoi" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
