<div class="<%=  params[:action] == "home" ? 'navbar-wagon-fixed' : 'navbar-wagon' %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_maure.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "logo_maure.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %> <span class="white_navbar">Connecté</span>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to new_tournament_path do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter un tournoi
              <% end %>
            </li>
            <li>
              <%= link_to tournaments_path do %>
                <i class="fa fa-list-alt" aria-hidden="true"></i> Liste des tournois
              <% end %>
            </li>
            <li>
              <%= link_to new_player_path do %>
                <i class="fa fa-user"></i> Gestion des joueurs
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i> Me déconnecter
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="fa fa-sign-in fa-2x white_navbar" aria-hidden="true"></i>
      <% end %>
    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to new_tournament_path do %>
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter un tournoi
            <% end %>
          </li>
          <li>
            <%= link_to tournaments_path do %>
              <i class="fa fa-list-alt" aria-hidden="true"></i> Liste des tournois
            <% end %>
          </li>
          <li>
            <%= link_to new_player_path do %>
              <i class="fa fa-user"></i> Gestion des joueurs
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i> Me déconnecter
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li>
            <%= link_to t(".top_call_to_action", default: "Liste des tournois"), tournaments_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

