<% if current_user %>
  <div class="container">
    <div class="text-center">
      <h2>Ajouter un joueur</h2>
    </div>
    <div class="row">
      <div class="row col-xs-12 col-sm-6">
        <div class="form_new">
          <%= simple_form_for @player do |i| %>
            <%= i.input :first_name, label: "Prénom" %>
            <%= i.input :last_name, label: "Nom" %>
        </div>
      </div>
      <div class="row col-xs-12 col-sm-6">
        <div class="form_new">
            <%= i.input :licence %>
            <%= i.input :credit, as: :integer %>
            <%= i.button :submit, "Ajouter le joueur" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="text-center">
    <h2>Tous les joueurs</h2>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Licence</th>
      <th>Crédit</th>
      <th></th>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.last_name %></td>
        <td><%= player.first_name %></td>
        <td><%= player.licence %></td>
        <td><%= player.credit %></td>
        <td>
          <%= link_to edit_player_path(player) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
